
if SHIELD_BLOBITYL_LEFT

config ZMK_KEYBOARD_NAME
    default "Blobityl"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_BLOBITYL_LEFT || SHIELD_BLOBITYL_RIGHT

config ZMK_SPLIT
    default y

endif

